/**
 * Theme Name: Live Wire
 * Theme URI: http://themehybrid.com/themes/live-wire
 * Description: Live Wire is about rocking your blogging. It was designed with Mobile first attitude, it supports post formats, it's translation-ready and what else.
 * Version: 0.3
 * Author: Sami Keijonen
 * Author URI: http://foxnet.fi/en
 * Tags: post-formats, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns, flexible-width, left-sidebar, right-sidebar, custom-background, featured-images, editor-style, blue, white
 * Text Domain: live-wire
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Copyright (c) Sami Keijonen.  All rights reserved.
 * http://foxnet.fi
 */

/* =CSS Resets (Normalize). @link: https://raw.github.com/necolas/normalize.css/master/normalize.css
-------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}audio,canvas,video{ display:inline-block; *display:inline; *zoom:1}audio:not([controls]){ display:none}[hidden]{ display:none}html{ font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}html,button,input,select,textarea{ font-family:sans-serif}body{ margin:0}a:focus{ outline:thin dotted}a:hover,a:active{ outline:0}h1{ font-size:2em; margin:0.67em 0}h2{ font-size:1.5em; margin:0.83em 0}h3{ font-size:1.17em; margin:1em 0}h4{ font-size:1em; margin:1.33em 0}h5{ font-size:0.83em; margin:1.67em 0}h6{ font-size:0.75em; margin:2.33em 0}abbr[title]{ border-bottom:1px dotted}b,strong{ font-weight:bold}blockquote{ margin:1em 40px}dfn{ font-style:italic}mark{ background:#ff0; color:#000}pre,code,kbd,samp{ font-family:monospace,serif; _font-family:'courier new',monospace; font-size:1em}pre{ white-space:pre; white-space:pre-wrap; word-wrap:break-word}q{ quotes:none}q:before,q:after{ content:''; content:none}small{ font-size:75%}sub,sup{ font-size:75%; line-height:0; position:relative; vertical-align:baseline}sup{ top:-0.5em}sub{ bottom:-0.25em}ul,ol{ margin-left:0; padding:0 0 0 40px}dd{ margin:0 0 0 40px}nav ul,nav ol{ list-style:none; list-style-image:none}img{ border:0; -ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}figure{ margin:0}form{ margin:0}fieldset{ border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em}legend{ border:0; padding:0; white-space:normal; *margin-left:-7px}button,input,select,textarea{ font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle}button,input{ line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{ cursor:pointer; -webkit-appearance:button; *overflow:visible}button[disabled],input[disabled]{ cursor:default}input[type="checkbox"],input[type="radio"]{ box-sizing:border-box; padding:0; *height:13px; *width:13px}input[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0}textarea{ overflow:auto; vertical-align:top}table{ border-collapse:collapse; border-spacing:0}.alignleft,.left{float:left;margin:1em 1.25em 0.5em 0}.alignright,.right{float:right;margin:1em 0 0.5em 1.25em}.aligncenter,.center{display:block;margin:1em auto}.alignnone,.block{clear:both;margin:1em 0}.clear{clear:both}blockquote.alignleft,blockquote.alignright{width:33%}


/* =Layout for all devices
-------------------------------------------------------------- */

/* Drop-downs. */
div.menu ul{margin:0;padding:0;list-style:none;line-height:2.0}div.menu ul ul{position:absolute;top:-999em;width:10em}div.menu ul ul li{width:100%}div.menu li:hover{visibility:inherit}div.menu li{float:left;position:relative}div.menu a{display:block;position:relative}div.menu li:hover ul,li.sfHover ul{left:0;top:2em;z-index:99}div.menu li:hover li ul,li.sfHover li ul{top:-999em}div.menu li li:hover ul,li li.sfHover ul{left:10em;top:0}div.menu li li:hover li ul,li li.sfHover li ul{top:-999em}div.menu li li li:hover ul,li li li.sfHover ul{left:10em;top:0}
 
/* Gallery. */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{width:auto;max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.gallery .col-0{width:100%}.gallery .col-1{width:100%}.gallery .col-2{width:50%}.gallery .col-3{width:33.33%}.gallery .col-4{width:25%}.gallery .col-5{width:20%}.gallery .col-6{width:16.66%}.gallery .col-7{width:14.28%}.gallery .col-8{width:12.5%}.gallery .col-9{width:11.11%}.gallery .col-10{width:10%}.gallery .col-11{width:9.09%}.gallery .col-12{width:8.33%}.gallery .col-13{width:7.69%}.gallery .col-14{width:7.14%}.gallery .col-15{width:6.66%}.gallery .col-16{width:6.25%}.gallery .col-17{width:5.88%}.gallery .col-18{width:5.55%}.gallery .col-19{width:5.26%}.gallery .col-20{width:5%}.gallery .col-21{width:4.76%}.gallery .col-22{width:4.54%}.gallery .col-23{width:4.34%}.gallery .col-24{width:4.16%}.gallery .col-25{width:4%}.gallery .col-26{width:3.84%}.gallery .col-27{width:3.7%}.gallery .col-28{width:3.57%}.gallery .col-29{width:3.44%}.gallery .col-30{width:3.33%}

/* Fonts */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/league_gothic-webfont.eot');
    src: url('fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/league_gothic-webfont.woff') format('woff'),
         url('fonts/league_gothic-webfont.ttf') format('truetype'),
         url('fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #f2f2f2;
	border-top: 0.3125em solid #1189b7;
	border-bottom: 0.3125em solid #f2f2f2;
	color: #333;
	font: 100%/1.5 Georgia, serif; /* 24px / 16px = 1.5 */
}

/* Images, embed */
img,
object,
embed {
	max-width: 100%;
}
img {
	height: auto;
}

/* Links */
a,
a:visited {
	color: #1189b7;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: LeagueGothicRegular, Georgia, serif;
    font-style: normal;
    font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
}
h4 {
	font-size: 1.0625em; /* 17px / 16px = 1.0625 */
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.9375em; /* 15px / 16px = 0.9375 */
}

/* Lists */
ul {
	list-style-type: circle;
}
dl dt {
	font-size: .95em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
dl dd {
	color: #222;
}

/* Blockquotes */
blockquote {
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-left: 0.375em solid #13a1ec;
	color: #666;
	font-style: italic;
	height: 100%; /* IE7 */
	margin: 1em 0;
	padding: 1em 2em;
}
blockquote blockquote {
	padding: 0.375em 2em;
}

/* Code */
code {
	background: #f7f7f7;
	color: #555;
	padding: 0 0.1875em;
}
pre {
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	color: #555;
	font-size: .9375em;
	padding: 2em;
}
pre code {
	padding: 0;
}

/* Acronyms and abbreviations */
acronym,
abbr {
	border-bottom: 1px dotted #999;
}

/* Tables */
table {
	background: #f2f2f2;
	margin: 0 0 1em 0;
	width: 100%;
}
table caption {
	color: #555;
	text-transform: uppercase;
}
th {
	background: #1189b7;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	color: #fff;
	padding: .5em 2%;
	text-align: left;
}
td,
tbody th {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	font-size: .9375em;
	padding: .5em 2%;
}
tr:hover td {
	background: #f7f7f7;
}
tr:hover th {
	background: #13a1ec;
}
thead th,
tfoot th,
thead tr:hover th,
tfoot tr:hover th {
	background: #1189b7;
	color: #fff;
}

/* WP calendar */
#wp-calendar a { /* WP needs to fix this ID issue. */
	background: #13a1ec;
	color: #fff;
	display: block;
	font-weight: bold;
}
#wp-calendar a:hover {
	background: #1189b7;
}
#wp-calendar th {
}
#wp-calendar th,
#wp-calendar td {
	padding: 0;
	text-align: center;
}
#wp-calendar td.pad,
#wp-calendar #prev,
#wp-calendar #next {
	background: transparent;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}
#wp-calendar #prev a,
#wp-calendar #next a {
	background: transparent;
	color: #555;
	display: inline;
}

/* Horizontal rule */
hr {
	background: #13a1ec;
	height: .25em;
}


/* =Images
-------------------------------------------------------------- */

.hfeed img,
.avatar {
	height: auto;
}

/* Avatars */
.avatar {
	float: left;
	margin: 0 1em .5em 0;
}
.format-status .avatar {
	margin-bottom: 1.5em;
	width: 80px;
	height: 80px;
}

/* Captions */
.wp-caption {
	max-width: 100%;
	overflow: visible;
	padding: 0;
}
.wp-caption img {
	margin: 0;
	width: 100%;
}
.wp-caption-text {
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	font: normal normal normal 0.875em/1.6 "Helvetica Neue", Helvetica, sans-serif;
	margin: -0.357142857em 0 0 0;
	max-width: 100%;
	padding: 0.571428571em 0.714285714em;
	text-align: center;
}

/* Thumbnails */
.thumbnail,
.live-wire-thumbnail {
	float: left;
	margin: 0 1.5em .5em 0;
	max-width: 194px;
	max-height: 120px;
}
.taxonomy-post_format-video .live-wire-thumbnail {
	border: 1px solid #ccc;
	width: 194px;
	height: 120px;
}

/* Galleries */
.gallery {
	margin-bottom: 1.5em !important;
}
.gallery-caption {
	color: #555;
	font: normal normal normal 0.875em/1.6 "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 0.357142857em;
}
.singular-attachment .gallery-caption {
	display: none; /* Hides gallery captions on singular-attachment views. */
}
.hentry .gallery .gallery-icon .attachment-thumbnail {
	padding: 2%;
}
.singular-attachment .hentry .gallery .gallery-icon .attachment-thumbnail {
	padding: 3%;
}

/* WP smiley */
img.wp-smiley {
	background: transparent !important;
	border: none !important;
	margin: 0 !important;
	max-height: 12px !important;
	padding: 0 !important;
}

/* Container */
#container {
}

/* Primary menu */
#menu-primary {
	position: relative;
	padding: 0 2%;
	margin: 0;
	width: 96%;
	height: 2.25em; /* 36px / 16px = 2.25 */
	z-index: 98;
}
#menu-primary .wrap {
	margin: 0 auto;
	padding: 0.3em 0;
	width: 100%;
}
#menu-primary div.menu {
	background: #fff;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	display: block;
	float: left;
	width: 100%;
	z-index: 100;
}
#menu-primary ul {
	padding: 0;
}
#menu-primary li {
	display: inline;
}
#menu-primary li a {
	border-bottom: none;
	border-right: 1px solid #f2f2f2;
	color: #121212;
	font: normal normal normal 0.6875em/1.4em Arial, Verdana, sans-serif; /* 11px / 16px = 0.6875 */
	padding: 1.09090909em 1.81818182em; /* 12px / 11px = 1.09090909 and 20px / 11px = 2.18181818 */
	text-transform: uppercase;
}
#menu-primary li li a {
	color: #fff;
}
#menu-primary li.current-menu-item {
	background: #f2f2f2;
	color: #1189b7;
}
#menu-primary li.current-menu-item a {
	color: #1189b7;
}
#menu-primary li:first-child.current-menu-item {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
#menu-primary li a:hover,
#menu-primary li.sfHover a {
	background: #f2f2f2;
	color: #1189b7;
	text-decoration: none;
}
#menu-primary li:first-child a:hover,
#menu-primary li:first-child.sfHover a {
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
#menu-primary li li a,
#menu-primary li.sfHover li a,
#menu-primary li li.sfHover li a {
	background: #f2f2f2;
	border-right: none;
	border-bottom: 1px solid #fff;
	color: #1189b7;
	padding-left: 2.27272727em; /* 25px / 11px = 2.2727272 */
	text-transform: none;
}
#menu-primary li li:first-child a:hover,
#menu-primary li:first-child.sfHover li a,
#menu-primary li li:first-child.sfHover li a,
#menu-primary li:first-child.sfHover li a,
#menu-primary li li:first-child.sfHover li a {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
#menu-primary li li.current-menu-item a,
#menu-primary li li.sfHover li.current-menu-item a,
#menu-primary li li a:hover,
#menu-primary li li.sfHover a,
#menu-primary li li.sfHover li a:hover {
	background: #f7f7f7;
	color: #121212;
}

/* Drop-down styles */
#menu-primary li:hover ul,
#menu-primary li.sfHover ul {
	top: 2.4375em; /* 39px / 16px = 2.4375 */
}
#menu-primary li:hover li ul,
#menu-primary li.sfHover li ul {
	top: -999em;
}
#menu-primary li li:hover ul,
#menu-primary li li.sfHover ul {
	margin-left: 0;
	padding-bottom: 0;
	top: 0;
}
	
/* Sub-nav indicator. */
#menu-primary ul .menu-item-has-children > a:after,
#menu-secondary ul .menu-item-has-children > a:after  {
	content: "\002B"; /* Plus sign. */
	float: right;
	padding-left: 8px;
	padding-left: 0.5rem;
	position: absolute;
}
#menu-primary ul .menu-item-has-children > a,
#menu-secondary ul .menu-item-has-children > a {
	padding-right: 24px;
	padding-right: 1.5rem;
}
#menu-primary ul ul .menu-item-has-children > a:after,
#menu-secondary ul ul .menu-item-has-children > a:after {
	position: static;
}
#menu-primary  ul ul .menu-item-has-children > a,
#menu-secondary  ul ul .menu-item-has-children > a  {
	padding-right: 8px;
	padding-right: 0.5rem;
}

/* Header */
#header {
	margin: 0;
	padding: 0 2%;
	position: relative;
	overflow: hidden;
	width: 96%;
	z-index: 88;
}
#header .wrap {
	background: #1189b7;
	margin: 0 auto;
	padding: 0 2%;
	width: 96%;
}

/* Branding */
#branding {
	padding: 1em 0;
	position: relative;
	z-index: 98;
}

/* Site title and description */
#site-title {
	font: 1.25em/1.35 LeagueGothicRegular, Georgia, serif;
	margin: 0;
	text-transform: uppercase;
}
#site-title a {
	color: #fff;
}
#site-description {
	color: #fff;
	font: italic 1em/1.25em Georgia,serif;
	margin: 0;
	padding-top: 0.625em;
	text-transform: none;
}

/* Header sidebar */
#sidebar-header {
	padding: 0 0 0.5em;
}
#sidebar-header .widget {
	color: #f2f2f2;
	font-size: 0.875em; 
	margin-bottom: 0.714285714em;
}
#sidebar-header .widget-title {
	color: #f2f2f2;
}
#sidebar-header .widget a {
	color: #66cbf2;
}

/* Menu secondary */
#menu-secondary {
	margin: .25em 0;
	padding: 0 2%;
	width: 96%;
	height: 1.5em; /* 24px / 16px = 1.625 */
}
#menu-secondary .wrap {
	margin: 0 auto;
	width: 100%;
}
#menu-secondary div.menu {
	background: #0b76b2;
	display: block;
	float: left;
	width: 100%;
	z-index: 100;
}
#menu-secondary ul {
	padding: 0;
}
#menu-secondary li{
	display: inline;
}
#menu-secondary li a {
	color: #fff;
	font: normal normal normal 0.6875em/1.2em Arial, Verdana, sans-serif;
	letter-spacing: 1px;
	padding: 0.909090909em 1.81818182em; /* 10px / 11px = 0.909090909 and 20px / 11px = 1.81818182  */
	text-transform: uppercase;
}
#menu-secondary li li a {
	color: #fff;
}
#menu-secondary li.current-menu-item a {
	background: #f2f2f2;
	color: #1189b7;
}
#menu-secondary li a:hover,
#menu-secondary li.sfHover a {
	background: #f2f2f2;
	color: #1189b7;
	text-decoration: none;
}
#menu-secondary li li a,
#menu-secondary li.sfHover li a,
#menu-secondary li li.sfHover li a {
	background: #f2f2f2;
	color: #38b2d4;
	border-right: none;
	border-left: 0.454545455em solid #13a1ec; /* 5px / 11px = 0.454545455 */
	border-bottom: 1px solid #fff;
	padding-left: 1.81818182em; /* 20px / 11px = 1.81818182 */
}
#menu-secondary li li.current-menu-item a,
#menu-secondary li li.sfHover li.current-menu-item a {
	border-left: 0.454545455em solid #1189b7; /* 5px / 11px = 0.454545455 */
	color: #13a1ec;
}
#menu-secondary li li a:hover,
#menu-secondary li li.sfHover a,
#menu-secondary li li.sfHover li a:hover {
	background: #f7f7f7;
	border-left: 0.454545455em solid #1189b7;
}

/* Drop-down styles */
#menu-secondary li:hover ul,
#menu-secondary li.sfHover ul {
	top: 2.0625em; /* 33px / 16px = 2.0625 */
}
#menu-secondary li:hover li ul,
#menu-secondary li.sfHover li ul {
	top: -999em;
}
#menu-secondary li li:hover ul,
#menu-secondary li li.sfHover ul {
	margin-left: 0;
	padding-bottom: 0;
	top: 0;
}
	
/* Sub-nav indicator */
#menu-secondary a.sf-with-ul {
	padding-right: 2.54545455em; /* 28px / 11px = 2.54545455 */
}
#menu-secondary li .sf-sub-indicator {
	background: url('images/menu-plus.png') no-repeat 0 0;
	background-position: 0 -12px;
	overflow: hidden;
	position: absolute;
	top: 1.18181818em; /* 13px / 11px = 1.18181818 */
	right: 1.09090909em; /* 12px / 11px = 1.09090909 */
	width: 6px;
	height: 6px;
	text-indent: -9999em;
}
#menu-secondary li a:hover .sf-sub-indicator, 
#menu-secondary li.sfHover .sf-sub-indicator,
#menu-secondary li.current-menu-item .sf-sub-indicator {
	background-position: 0 -6px;
}
#menu-secondary li ul li .sf-sub-indicator,
#menu-secondary li ul li.current-menu-item li .sf-sub-indicator {
	background-position: 0 -6px !important;
	top: 1.18181818em; /* 13px / 11px = 1.18181818 */
	width: 6px;
	height: 6px;
}	
	
/* Main */
#main {
	margin: 0;
	overflow: hidden;
	padding: 0 2%;
	width: 96%;
}
#main .wrap {
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 2%;
	width: 96%;
}

/* Content */
#content {
	float: none;
	width: 100%;
}

/* Primary sidebar */
#sidebar-primary {
	float: none;
	margin: 0 0 1em 0;
	padding: 0;
	width: 100%;
}

/* Breadcrumbs */

.breadcrumbs {
	display: none;
}


/* =Posts
-------------------------------------------------------------- */

.bypostauthor{
}

/* Posts */
.hentry {
	border-bottom: 1px solid #e5e5e5;
	/* margin-bottom: 1.5em; */
	/* padding-bottom: 1.5em; */
}
.singular .hentry {
	border-bottom: none;
	margin-bottom: 1em;
	padding-bottom: 0;
}
.taxonomy-post_format-video .hentry {
	background: #f2f2f2;
	border-bottom: 1px solid #ccc;
	padding: 1.5em 0.5em;
}
.sticky {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	margin-top: 1em;
	padding: 3%;
}

/* Post titles */
.entry-title {
	margin-bottom: 1em;
}
.sticky .entry-title {
	margin-top: 0;
}
.singular .entry-title,
.error-404 .entry-title {
	margin-bottom: 0;
	padding-bottom: .5em;
}
.singular-post .entry-title,
.format-standard .entry-title,
.singular.attachment-image .entry-title {
	border-bottom: none;
	margin-bottom: .5em;
	padding-bottom: 0;
}
.singular .entry-title a {
	color: #555;
}
.home .format-link .entry-title,
.archive .format-link .entry-title {
	margin-bottom: 1em;
}

/* Bylines */
.byline {
	color: #555;
	font: normal normal normal .875em/1.5 Georgia, serif;
	margin-bottom: 1em;
}
	
/* Entry meta */
.entry-meta {
	clear: both;
	color: #555;
	font: normal normal normal .875em/1.5  Georgia, serif;
}
.singular .entry-meta .category,
.singular .entry-meta .post_tag {
	display: block;
}

/* More link */
a.more-link  {
	background: #1189b7;
	color: #fff;
	display: inline-block;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 0.714285714em 0 0;
	padding: 0.857142857em 1.07142857em;
}
a.more-link:hover {
	background: #13a1ec;
	text-decoration: none;
}

/* Loop meta */
.loop-meta {
	overflow: hidden;
}
.loop-meta .loop-title {
	color: #555;
}
.loop-meta .loop-description {
	color: #999;
	font-style: italic;
}


/* =Pagination and prev/next links
-------------------------------------------------------------- */

.pagination, .page-links, .comment-pagination {
	clear: both;
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 1.71428571em 0;
	overflow: hidden;
}
.pagination {
	margin-bottom: 1.71428571em;
	padding-bottom: 0.142857143em;
	text-align: center;
}
.page-links {
	padding: 0.5em 0 0 0;
}
.pagination .page-numbers,
.page-links a {
	background: #1189b7;
	color: #fff;
	display: inline-block;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 0.714285714em 0 0;
	padding: 0.857142857em 1.07142857em;
	text-transform: uppercase;
}
.pagination .next {
	margin-right: 0;
}
.pagination .meta-nav,
.loop-nav .meta-nav {
	font-size: 0.875em;
}
.page-links a {
	margin: 0 0.214285714em;
	padding: 1em 1.5em;
}
.entry-summary .page-links a {
	padding: 0.75em 1em;
}
.pagination .page-numbers:hover,
.page-links a:hover {
	background: #13a1ec;
}
.pagination .dots:hover {
	background: #1189b7;
}
.pagination .current {
	background: #13a1ec;
}
.loop-nav,
.loop-pagination {
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1em;
	margin: 1em 0 2em 0;
	overflow: hidden;
}
.loop-nav .previous,
.loop-nav .next {
	background: #1189b7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	float: left;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 1em 1.5em;
	text-transform: uppercase;
}
.loop-nav .next {
	float: right;
	text-align: right;
}
.loop-nav a:hover {
	text-decoration: none;
}
.loop-nav a:hover span {
	background: #13a1ec;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	color: #555;
}
.widget-title {
	color: #555;
}
.widget img {
	max-width: 100%;
}

/* Search widget */
.widget-search {
	padding-bottom: 1.5em !important;
}
#sidebar-header .widget-search {
	padding-bottom: 1em !important;
} 
.widget-search input[type="text"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type=tel],
input[type=number],
input[type="password"] {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	display: block;
	padding: 0.5em;
	width: 100%;
}
#sidebar-header .widget-search input[type="text"],
#sidebar-header input[type="text"] {
	border: 1px solid #f2f2f2;
}
.widget-search input[type="text"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type="password"]:focus {
	background: #fff;
}
.widget-search input[type="submit"],
.widget-search label {
	display: none;
}
input[type="submit"] {
	background: #1189b7;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	display: block;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0.714285714em 0;
	padding: 0.857142857em 1.07142857em;
}
input[type="submit"]:hover {
	background: #13a1ec;
}


/* =Comments
-------------------------------------------------------------- */

#comments-number {
	border-bottom: 1px solid #ebeae8;
	padding-bottom: 1em;
}

/* Comments closed */
.comments-closed {
	color: #555;
	padding: 0 1.5em;
}

/* Comment pagination */
.comments-nav {
	float: right;
	line-height: 2em;
	margin: 0 0 1em 0;
	position: relative;
}
.comments-nav .page-numbers {
	color: #555;
}

/* Comment list */
.comment-list,
.comment-list ol.children {
	list-style: none;
	margin: 0 0 2em 0;
}
ol.comment-list {
	padding: 0;
}
.comment-list ol.children {
	margin-left: 1%;
	margin-bottom: 0;
	padding: 0;
}
.comment-list li.comment,
.comment-list li.pingback,
.comment-list li.trackback {
	border-bottom: 1px solid #ebeae8;
	clear: both;
	margin-bottom: 1.5em;
	overflow: hidden;
}
.comment-list li li.comment {
	border-bottom: none;
	margin-bottom: 0;
	padding: 1.5em 0 0 0;
	overflow: hidden; /* IE7 */
}

/* Avatars */
.comment-list .avatar {
	float: none;
	margin: 0 1.5em 1.5em 0;
	width: 80px;
	height: 80px;
}
.comment-list li li .avatar {
	margin-bottom: 0.375em;
	padding: 0.175em;
	width: 60px;
	height: 60px;
}

/* Comment meta */
.comment-meta {
	color: #555;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 0.714285714em;
}
.comment-list li.pingback .comment-meta,
.comment-list li.trackback .comment-meta {
	margin-bottom: 1.5em;
}
.comment-meta .published abbr {
	font-style: italic;
}
.comment-author {
	display: block;
}
.comment-author cite {
	font-weight: bold;
}
.pingback .comment-author cite,
.trackback .comment-author cite {
	font-style: italic;
}
.comment-reply-link {
}

/* Comment text */
.comment-text {
	overflow: hidden;
}
.comment-list li li.comment .comment-text {
	overflow: visible;
}
.comment-list li li.has-avatar .comment-text {
	margin-left: 0;
}
.comment-text .moderation {
	font-style: italic;
	color: #555;
}

/* After singular sidebar */
#sidebar-after-singular {
	margin-bottom: 1em;
}


/* =Comment form
-------------------------------------------------------------- */

#respond {
	margin-bottom: 1.5em;
	overflow: hidden;
}

/* Cancel reply link */
#reply-title small a {
	font: bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 1em;
}

/* Comment form paragraphs */
#respond p.form-author {
	float: left;
	width: 50%;
}
#respond p.form-email {
	float: right;
	overflow: hidden;
	width: 50%;
}
#respond p.form-url {
	clear: both;
}

/* Comment form labels */
#respond label {
	font: normal 1em/1.8 "Helvetica Neue", Helvetica, sans-serif;
}
#respond p.form-email label {
	padding: 0;
}
#respond span.required {
	font-size: 1em;
	font-weight: bold;
}

/* Comment form inputs and textarea elements */
#respond input[type="text"],
#respond textarea {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	display: block;
	padding: 0.5em;
	width: 100%;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	background: #fff;
}
#respond p.form-author input[type="text"] {
	width: 90%;
}
#respond p.form-email input[type="text"],
#respond p.form-email label {
	width: 90%;
	float: right;
}

/* Submit button */
#respond #submit {
	background: #1189B7;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font: normal 0.875em/1.2 "Helvetica Neue",Helvetica,sans-serif;
	float: right;
	margin: 0 0 1em 1em;
	padding: 1em 1.5em;
	text-transform: uppercase;
}
#respond #submit:hover {
	background: #13a1ec;
}


/* =Footer area
-------------------------------------------------------------- */

/* Sidebar subsidiary */
#sidebar-subsidiary {
	background: #1189b7;
	border-top: 1px solid #1189b7;
	font-size: .9375em;
	margin: 0;
	padding: 0 2% 1em;
	width: 96%;
}
#sidebar-subsidiary h3 {
	font-size: 1.26666667em;
}
#sidebar-subsidiary .wrap {
	background: #f2f2f2;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0 auto;
	overflow: hidden;
	padding: 1em 2%;
	width: 96%;
}
#sidebar-subsidiary .widget {
	float: left;
	margin-bottom: 1em;
	padding: 0;
	width: 100%;
}

/* Footer */
#footer {
	background: #1189b7;
	color: #f2f2f2;
	font-size: .875em;
	margin: 0;
	padding: 0 2%;
	width: 96%;
}
#footer .wrap {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 2%;
	width: 96%;
}
#footer a {
	color: #66cbf2;
}
#footer  a:hover { 
	color: #f2f2f2;
	text-decoration: none;
}

/* Subsidiary menu */
#menu-subsidiary {
	font-size: 1em;
	position: relative;
}
#menu-subsidiary li {
	display: block;
	padding-right: 1em;
}
#menu-subsidiary li a {
	display: block;
}
#menu-subsidiary li.current-menu-item a {
	color: #f2f2f2; 
}
#menu-subsidiary li ul { 
	display: none; 
}


/* =Gravity Forms CSS
-------------------------------------------------------------- */

.gform_wrapper ul {
	background: transparent;
	list-style: none;
	margin: 0;
	padding: 0;
}
body .gform_wrapper .gform_heading {
	margin-bottom: 1em;
	width: 100%;
}
body .gform_wrapper .gform_heading .gform_title,
body .gform_wrapper .gform_body .gform_fields .gsection .gsection_title {
	font-weight: normal;
	margin: 0.625em 0; /* 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_description,
body .gform_wrapper .gform_body .gform_fields .gsection .gsection_description,
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
	color: #555;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	padding: 0.625em 0 0; /* 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
	padding: 0.25em 0 0.625em; /* 4px / 16px = 0.25 and 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password],
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	font-size: 0.875em; /* 14px / 16px = 0.875 */
	display: block;
	padding: 0.5em;
}
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield textarea:focus {
	background: #fff;
} 
body .gform_wrapper .gform_body .gform_fields .gfield select {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	padding: 0.25em 0; /* 4px / 16px = 0.25 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox li input[type=checkbox],
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio li input[type=radio] {
	margin-top: 0.3125em; /* 5px / 16px = 0.3125 */
}
body .gform_wrapper table.gfield_list th,
body .gform_wrapper table.gfield_list td {
	padding: 0.5em 2%;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button,
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button {
	background: #1189b7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	color: #fff;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	float: left;
	margin-bottom: 0.625em; /* 10px / 16px = 0.625 */
	padding: 1em 1.5em;
	text-transform: uppercase;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button {
	float: right;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button:hover,
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button:hover {
	background: #13a1ec;
}
body .gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	font-size: 1.1em;
}
body .gform_wrapper .gform_page_footer .button.gform_button {
	clear: both;
}
body #gforms_confirmation_message {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	padding: 2em;
}
body .ui-datepicker-div,
body .ui-datepicker-inline,
body #ui-datepicker-div {
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
}


/* =Hybrid Tabs Widget
-------------------------------------------------------------- */

.widget-tabs ul.tabs {
	background: #ebeae8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	display: block;
	margin: 1em 0 0;
	padding: 0;
}
.widget-tabs ul.tabs li.t {
	background: none;
	display: inline;
	padding: 0;
}
.widget-tabs ul.tabs li:first-child.t a{
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.widget-tabs ul.tabs li.t a {
	display: inline-block;
	font-size: 0.8125em; /* 13px / 16px = 0.8125 */
	line-height: 1.38461538em; /* 18px / 13px = 1.38461538 */
	padding: 0.769230769em 1.53846154em 0.692307692em;
}
.widget-tabs ul.tabs li.t a:hover {
	background: #13a1ec;
	color: #fff;
	text-decoration: none;
}
.widget-tabs ul.tabs li.t a.tab-current{
	background: #1189b7;
	color: #fff;
}


/* =Tinynav styles
 -------------------------------------------------------------- */
 
.tinynav { 
	display: none;
}

/* Styles for mobile menu */
@media screen and (max-width: 600px) {
.tinynav { 
	display: block;
}
#menu-primary-items, #menu-secondary-items {
	display: none;
}
select.tinynav {
	background: #fff;
	border: 1px solid #e5e5e5;
	font: 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0 0 0 1%;
	width: 100%;
}
.tinynav option {
	padding: 0 0 0 2%;
}

#menu-primary div.menu, #menu-secondary div.menu {
	background: none;
}
#menu-primary div.menu {
	border: none;
}
}

@media only screen and (min-width: 601px) {

#menu-primary li.tinynav-select-menu,
#menu-secondary li.tinynav-select-menu {
	display: none;
}

}


/* =Layout for tablets version 
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {

/* Menu Primary */
#menu-primary {
	background: #fff;
	height: 3.5em; /* 56px / 16px = 3.5 */
}
#menu-primary .wrap,
#menu-secondary .wrap,
#menu-secondary div.menu {
	padding: 0;
	width: 730px; /* 1px border */
}
#menu-primary div.menu {
	padding: 0;
	width: 728px; /* 1px border on the left and right */
}
#menu-primary .wrap {
	padding: 1em 0 0 0;
}
#main .wrap,
#header .wrap,
#sidebar-subsidiary .wrap,
#footer .wrap {
	padding: 0 20px;
	width: 690px; /* 690px + 20px + 20px = 730px  */
}
#sidebar-subsidiary .wrap {
	padding: 1em 1.33333333em 0;
}

/* Header */
#header {
	background: #13a1ec;
	border-top: 5px solid #f2f2f2;
	border-bottom: 5px solid #1189b7;
	overflow: visible;
}
#header .wrap {
	overflow: hidden;
}
#branding {
	float: left;
	margin-right: 4%;
	width: 46%;
}
#sidebar-header {
	float: right;
	padding: 1em 0;
	width: 50%;
}

/* Site title */
#site-title {
	font-size: 3em; /* 48px / 16px = 3 */
	line-height: 1.08333333em; /* 52px / 48px = 1.08333333 */
}
#site-description {
	font-size: 1.125em; /* 18px / 16px = 1.125 */
	line-height: 1.222222226em; /* 22px / 18px = 1.22222222 */
}

#menu-secondary {
	height: 2.0625em; /* 33px / 16px = 2.0625 */
	margin: 0;
}

/* Image */
img {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	border: 1px solid #ebeae8;
	padding: .25em; /* 4px / 16px = 0.25 */
}


/* =Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
	color: #555;
	font-size: .875em;
	display: block;
	margin: 1em 0 1.5em;
}
.breadcrumbs .trail-before {
	margin-right: 0.5em;
}
.breadcrumbs .sep {
	background: url('images/breadcrumb-sep.png') no-repeat 0 0.571428571em;
	display: inline-block;
	margin: 0 0.357142857em;
	text-indent: -9999em;
	width: 0.357142857em;
	height: 1.57142857;
}
.breadcrumbs .trail-end {
	color: #999;
	font-style: italic;
}
.breadcrumbs a {
	color: #13a1ec;
}

#content {
	float: left;
	width: 64%; /* 4% for margin */
}

.sticky {
	margin-top: 0;
}

#sidebar-primary {
	float: right;
	margin: 0;
	padding: 0;
	width: 32%;
}

/* Subsidiary */
#sidebar-subsidiary .widget {
	float: left;
	margin-right: 4%;
	width: 21%;
}

/* Footer info */
#footer-info {
	float: left;
	margin-right: 4%;
	margin-top: 0.375em;
	width: 46%;
}

#footer p {
    margin-top: 0;
}
/* Menu subsidiary */
#menu-subsidiary {
	float: right;
	width: 50%;
}

/* Comments. */
.comment-list ol.children {
	margin-left: 2%;
}


/* =Layouts
-------------------------------------------------------------- */

/* One column */
.layout-1c #content {
	float: none;
	margin-right: 0;
	width: 100%;
}

/* Two columns */
.layout-2c-l #content,
.layout-default #content {
	float: left;
	width: 64%; /* 4% for margin */
}
.layout-2c-l #sidebar-primary,
.layout-default #sidebar-primary {
	float: right;
	width: 32%;
}
.layout-2c-r #content {
    float: right;
}
.layout-2c-r #sidebar-primary {
    float: left;
}

}


/* =Layout for desktop version
-------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {

/* Layout width */
#menu-primary .wrap, #menu-secondary .wrap, #menu-secondary div.menu {
	width: 902px;
}
#menu-primary div.menu {
	width: 900px; /* 1px border on the left and right */
}
#main .wrap, #header .wrap, #sidebar-subsidiary .wrap, #footer .wrap {
	padding: 0 24px;
	width: 854px; /* 852px + 24px + 24px = 902px  */
}
#sidebar-subsidiary .wrap {
	padding: 1em 24px 0;
}

#sidebar-primary .widget {
	background: #f9f9f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0.5em solid #f2f2f2;
	-moz-box-shadow: inset 0 0 2px #ccc;
	-webkit-box-shadow: inset 0 0 2px #ccc;
	box-shadow: inset 0 0 2px #ccc;
	margin: 0 0 1em 0;
	padding: 2%;
}

#sidebar-primary .widget .widget-wrap {
	padding: .5em;
}
#menu-primary li a {
	padding: 1.09090909em 2.18181818em; /* 12px / 11px = 1.09090909 and 24px / 11px = 2.18181818 */
}
#menu-secondary li a {
    padding: 0.909090909em 2.18181818em; /* 10px / 11px = 0.909090909 and 24px / 11px = 2.18181818 */
}

.widget-tabs ul.tabs {
	margin: 0;
}

/* Comments for desktop. */
.comment-list ol.children {
	margin-left: 1em;
}
.comment-list .avatar {
	float: left;
}
.comment-list li li.has-avatar .comment-text {
	margin-left: 3.75em;
	overflow: hidden;
}
	
}


/* =Layout for bigger screens
-------------------------------------------------------------- */

@media only screen and (min-width: 1224px) {

/* Layout width */
#menu-primary .wrap,
#menu-secondary .wrap,
#menu-secondary div.menu {
	width: 1026px;
}
#menu-primary div.menu {
	width: 1024px; /* 1px border */
}
#main .wrap,
#header .wrap,
#sidebar-subsidiary .wrap,
#footer .wrap {
	width: 978px;
}

}


/* =Layout for huge screens
-------------------------------------------------------------- */

@media only screen and (min-width: 1524px) {

/* Layout width */
#menu-primary .wrap,
#menu-secondary .wrap,
#menu-secondary div.menu {
	width: 1226px;
}
#menu-primary div.menu {
	width: 1224px; /* 1px border */
}
#main .wrap,
#header .wrap,
#sidebar-subsidiary .wrap,
#footer .wrap {
	width: 1178px;
}

}